/*html {
background-color: black;
}*/

@font-face {
  font-family: "MIB";
  src: url("/fonts/MIB.ttf") format('truetype');
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

$bg-color: hsl(256,33,10);
$dot-color: hsl(256,256,256);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

.kantConclusion {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

.contentTitle{
  font-family: 'Bungee Outline';
  font-size: 4vh;
  line-height: 5vh;
}

.contentLink{
  margin: 20px 20px 20px 20px;
}

.contentTask{
  font-family: 'Work Sans'
}

.contentDiscussion{
  font-family: 'Work Sans'
}

.contentExplanation{
  font-family: 'Work Sans'
}

.white {
  color: white;
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
}

.spc {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 100px 100px 0 100px;
  font-size: 5em;
  /*background-color: black;*/
  position: absolute;
  z-index: 1;
}

#canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

#headerBackground {
  width: 100%;
  height: 100vh;
  background-color: #000;
  /*background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
  radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)*/
}

#canvasHeader {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

.cards{
  position: absolute;
  z-index: 1;
}

#will {
  margin-bottom: -141px;
}

#kant {
  margin-bottom: 100px;
  margin-left:250px;
}

#kosta{
  margin-left: 500px;
}

.card1 {
  background-color: var(--background);
  display: block;
  width: 350px;
  min-height: 90px;
  cursor: pointer;
  padding: 15px;
  margin: calc(50vh - 30px) auto 0 auto;
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
  20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
  30px -30px 0 -3px var(--background), 30px -30px var(--orange),
  40px -40px 0 -3px var(--background), 40px -40px var(--red);
}

.card1:hover {
  animation: shadow-wave 1s ease infinite;
}


@keyframes shadow-wave {
  0% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  20% {
    border: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
    20px -20px 0 -3px var(--background), 20px -20px var(--green),
    30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
    40px -40px 0 -3px var(--background), 40px -40px var(--orange);
  }
  40% {
    border: 3px solid var(--orange);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
    20px -20px 0 -3px var(--background), 20px -20px var(--primary),
    30px -30px 0 -3px var(--background), 30px -30px var(--green),
    40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
  }
  60% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
    20px -20px 0 -3px var(--background), 20px -20px var(--red),
    30px -30px 0 -3px var(--background), 30px -30px var(--primary),
    40px -40px 0 -3px var(--background), 40px -40px var(--green);
  }
  80% {
    border: 3px solid var(--green);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
    20px -20px 0 -3px var(--background), 20px -20px var(--orange),
    30px -30px 0 -3px var(--background), 30px -30px var(--red),
    40px -40px 0 -3px var(--background), 40px -40px var(--primary);
  }
  100% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }

}

:root {
  --primary: #FFF;
  --secondary: #000;
  --background: #000;
  --green: #858585;
  --yellow: #FFF;
  --orange: #858585;
  --red: #FFF;
}

.card1 {
  background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
  background-size: 2px 3px;
  font-family: "Archivo", sans-serif;
  color: var(--primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card1 p {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0px 0px 0px 20px;
}

.card1 h2 {
  font-family: 'Source code pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 0px 0px 0px 40px;
  margin: 0px 0px 30px 0px;
}

.footer {
  position: relative;
  font-family: "Source code pro";
  width: 100%;
  text-align: right;
  z-index: 1;
  top:0px;
}

#willHeader{
  font-family: MIB;
  color: #FFF;
  position: absolute;
  width:100%;
  z-index: 1;
  text-align: center;
  top: 40%;
  font-size: 7em;
}

.centerTextOverDiv{
  position: absolute;
  width:100%;
  z-index: 1;
  text-align: center;
  top: 25%;
}
.kantText {
  font: bold 15vmin/1 'Bungee Outline', serif;
  color: #fff;
  margin: 0;
  padding: 10vh 0 10vh 0;
}


.centerText{
  width:100%;
  text-align: center;
}

@mixin zebra-shadow($size, $colors) {
  $text-shadow: ();
  @for $i from 1 through length($colors) {
    @for $j from 0 through $size {
      $pos: (($i - 1) * $size + $j) * 1px;
      $text-shadow: append(
        $text-shadow,
        $pos $pos nth($colors, $i),
        'comma'
      );
    }
  }
  text-shadow: $text-shadow;
}

 .coolText {
  font: bold 15vmin/1 'Cinzel', serif;
  color: #fff;
  animation:
    text-shadow .75s linear infinite;
}

@keyframes text-shadow {
  $red: #F40000;
  $green: #28D58F;
  $blue:  #15007F;
  $yellow: #FFBA00;
  $pink: #FD138A;

  from, 19.9% {
    @include zebra-shadow(5, (
      $blue, $pink, $yellow, $red, $green,
      $blue, $pink, $yellow, $red, $green
    ));
  }

  20%, 39.9% {
    @include zebra-shadow(5,  (
      $green, $blue, $pink, $yellow, $red,
      $green, $blue, $pink, $yellow, $red
    ));
  }

  40%, 59.9% {
    @include zebra-shadow(5, (
      $red, $green, $blue, $pink, $yellow,
      $red, $green, $blue, $pink, $yellow
    ));
  }

  60%, 79.9% {
    @include zebra-shadow(5, (
      $yellow, $red, $green, $blue, $pink,
      $yellow, $red, $green, $blue, $pink,
    ));
  }

  80%, to {
    @include zebra-shadow(5, (
      $pink, $yellow, $red, $green, $blue,
      $pink, $yellow, $red, $green, $blue
    ));
  }
}
